<div class="container" align = "center" style = "padding-top: 150px";>
  <%= form_for(@medicine) do |f| %>
    <div class="form-group">
      <%= f.label :"Medicine Name:"  %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.text_field :medicine_name  %>
    </div>
    <div class="form-group">
      <%= f.label :"Price" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.text_field :price  %>
    </div>
    <div class="form-group">
      <%= f.label :"Company Name:"  %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.text_field :company_name  %>
    </div>
    <br>
     <%= f.submit "Add Medicine", class: "btn btn-primary" %>
  <% end %>
</div>
<!--<body background="/home/user/Downloads/p.jpg">
</body>