<%= link_to "<Back", patients_path %>
<h1>Update Booking details</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@book) do |f| %>
     <div class="form-group">
      <%= f.label :"Doctor Name:"  %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.select(:doctor_id) do %>
    <% @doctor.each do |doctor| %>
      <%= content_tag(:option, doctor.d_name, value: doctor.id) %>
    <% end %>
  <% end %>
    </div>
    <div class="field">
    <%= f.label :"Patient Name:" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.select(:patient_id) do %>
    <% @patient.each do |patient| %>
      <%= content_tag(:option, patient.p_name, value: patient.id) %>
    <% end %>
  <% end %>
   </div>
   <div class="form-group">
    <%= f.label :"Booking Date: " %>
    <%= f.date_field :b_date %>
    </div>
    <br>
      <br>
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    
  </div>
</div>