<html>
<h1 align="center">Booking Details</h1>
<body>

  <div class="container">
    <table class="table" >
     <tr>
      <b><td> Patient id: </td>
      <td> Doctor id: </td>
      <td> Booking Date: </td></b>
      </tr>
	   <% @book.each do |book| %>
      <tr>
      <td><%= book.patient_id %></td>
      <td><%= book.doctor_id %></td>  
      <td><%= book.b_date %></td>
   	  <td><%= link_to "Edit", edit_booking_path(book) %></td>
      <td><%= link_to "Delete", book, method: :delete, data: { confirm: 'Are you sure' } %> </td>
    </tr>
    <%end%>
    </table>
    
    
    </div>
</body>
</html>