<html>
<head>
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>We are creative</h1>        
            <h3>Welcome to Doctor Prescription System</h3>
        </hgroup>
       
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">        
        <hgroup>
            <h1>We are smart</h1>        
            <h3>Welcome to Doctor Prescription System</h3>
        </hgroup>       
        
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">        
        <hgroup>
            <h1>We are amazing</h1>        
            <h3>Welcome to Doctor Prescription System</h3>
        </hgroup>
       
      </div>
    </div>
  </div> 
</div>
<h2 class='login_title text-left' >Login</h2>
<hr>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-signin") do |f| %>
  <span id="reauth-email" class="reauth-email"></span>

  <p class="input_title">email</p>
  <%= f.email_field :email, autofocus: true, class: "login_box", placeholder: "Email" %>


  <p class="input_title">Password</p>
  <%= f.password_field :password, autocomplete: "off", autofocus: true, class: "login_box", placeholder: "password"  %>

  <br>

  <%= f.check_box :remember_me %>
  <%= f.label :remember_me %>

  <br>
  <%= render "devise/shared/links" %><br>
  <%= f.submit "Log in", class: "btn btn-lg btn-primary" %>
<% end %>

</body>
</html> 
