
<div class="container" align = "center" style = "padding-top: 150px";>
  <%= form_for(@doctor ) do |f| %>
    <div class="form-group">
      <%= f.label :"Doctor   Name:"  %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.text_field :d_name  %>
    </div>
    <div class="field">
    <%= f.label :"Doctor gender:" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.label :"Male", "Male", :value => "male"  %>
    <%= f.radio_button :d_gender, "male" %>
    <%= f.label :"Female", "Female", :value => "female" %>
    <%= f.radio_button :d_gender, "female" %>
  </div>
    <div class="form-group">
      <%= f.label :"Doctor Address" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.text_field :d_address  %>
    </div>
    <div class="form-group">
      <%= f.label :"Doctor MobileNo:"  %>
      <%= f.text_field :d_mobno  %>
    </div>
    <div class="form-group">
      <%= f.label :"Doctor Specialization:"  %>
      <%= f.text_field :d_specialize  %>
    </div>
    <div class="form-group">
      <%= f.label :"Email Id:"  %>
      <%= f.email_field :email  %>
    </div><div class="form-group">
      <%= f.label :"Password:"  %>
      <%= f.password_field :pasword  %>
    </div>
    <br>
     <%= f.submit "Add doctor", class: "btn btn-primary" %>
  <% end %>
</div>
<!--<body background="/home/user/Downloads/p.jpg">
</body>